<label for="username" >Username</label>
      <input class="form-control" name="email" [(ngModel)]="log.email" id="email" type="text">
      <label for="password" >Password</label>
               <input class="form-control" name="password" [(ngModel)]="log.password" id="password" type="password">
                <button class="btn btn-primary" name="login"  (click)="login()">Login</button>
                <div class="col-md-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                          <th>id</th>
                          <th>name</th>
                          <th>email</th>
                          <!--  <th>password</th>-->
                          <th>Edit</th>
                          <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let regObj of regs">
                          <td>{{regObj.regid}}</td>
                            <td>{{regObj.name}}</td>
                              <td>{{regObj.email}}</td>
                            <!--  <td>{{regObj.password}}</td>-->
                              <td><button type="button" class="btn btn-info"  data-toggle="modal" data-target="#exampleModal" (click)="onEdit(regObj.regid)">Edit</button>
                              </td>
                              <td><button type="button" class="btn btn-danger" (click)="onDelete(regObj.regid)">Delete</button></td>
                              </tr>
                              </tbody>
                              </table>
                              </div>