<div class="contanier">
<div class="row">
              <div class="input-field col s12">
                <label>Name :  </label>
                <input type="text" name="coursename" #name="ngModel" [(ngModel)]="admin.coursename" placeholder="Enter full coursename" required>




              </div>
              </div>
              <div class="row">
                            <div class="input-field col s12">
                              <label>Description:  </label>
                              <input type="text" name="description" #name="ngModel" [(ngModel)]="admin.description" placeholder="Enter full coursename" required>




                            </div>
                            </div>
                              <label>image:  </label>
                            <input  type="file" [(ngModel)]="admin.image">
<button  class="btn btn-warning" type="submit" (click)="onsubmit()">Submit</button>
</div>
