<div class="contanier">
<div class="row">
              <div class="input-field col s12">
                <label>Name :
                <input type="text" name="name" #name="ngModel" [(ngModel)]="reg.name" placeholder="Enter full name" required>

                  <label class="red-text">*</label>
                </label>

              </div>
              </div>
              <div class="row">
                            <div class="input-field col s12">
                              <label>email :
                              <input type="text" name="email" #name="ngModel" [(ngModel)]="reg.email" placeholder="Enter full name" required>

                                <label class="red-text">*</label>
                              </label>

                            </div>
                            </div>
                            <div class="row">
                                          <div class="input-field col s12">
                                            <label>password :
                                            <input type="password" name="password" #name="ngModel" [(ngModel)]="reg.password" placeholder="Enter full name" required>

                                              <label class="red-text">*</label>
                                            </label>

                                          </div>
                                          </div>
<button  class="btn btn-warning" type="submit" (click)="onsubmit()">Submit</button>
<button  class="btn btn-warning" type="submit" routerLink="/login">nextpage</button>
<div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <!--  <th>password</th>-->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let regObj of regs">
                <td>{{regObj.regid}}</td>
                  <td>{{regObj.name}}</td>
                    <td>{{regObj.email}}</td>
                  <!--  <td>{{regObj.password}}</td>-->
                    <td><button type="button" class="btn btn-info"  data-toggle="modal" data-target="#exampleModal" (click)="onEdit(regObj.regid)">Edit</button>
                    </td>
                    <td><button type="button" class="btn btn-danger" (click)="onDelete(regObj.regid)">Delete</button></td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div>
                            <label>Name :</label>
                              <input type="text" name="name" #name="ngModel"  id="#name"[(ngModel)]="reg.name" placeholder="Enter full name" id="" required></div>
                              <div>

                              <label> Email:</label>
                                <input type="text" name="email" #name="ngModel" id="#email"[(ngModel)]="reg.email" placeholder="Enter email" required></div>
                                  <div>
                              <!--  <label> password</label>
                                  <input type="password" name="password" #name="ngModel" id="#password"[(ngModel)]="reg.password" placeholder="Enter password" required></div>-->

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="onsave()">Save changes</button>

                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
</div>


                    <!-- Modal -->
